In [1]:
import numpy as np
import pandas as pd
import sys
import os
from sklearn import preprocessing

In [2]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

pd.set_option('display.max_columns', None)

In [3]:
path = r'C:\Users\U279014\Documents\H_Drive\7.AA Models\17.Supplier_Pricing_ReClassification_Optimization\data'
result_path = r'C:\Users\U279014\Documents\H_Drive\7.AA Models\17.Supplier_Pricing_ReClassification_Optimization\result'
file_full = r'CompetitveMatrixFullList.xlsx'
file_survey = r'Competitve Matrix.xlsx'
result_file = r'pricing_matrix_rank.csv'
result_financial_impact = r'finanical_impact.csv'

In [4]:
# standardize dataframe colume names
def col_name(df):
    """
    this is to trim the data_frame column names to a unique format:
    all case, replace space to underscore, remove parentheses
    param df:
        raw from share drive for
    return:
        polished data set with new column names
    """
    df.columns = df.columns.str.strip().str.lower().str.replace('-','').str.replace(' ', '_').str.replace('(', '').str.replace(')', '').str.replace('"','').str.replace('.','')
    return df

df_pricing_pp = df_pricing[~(df_pricing[['avg_unit_cost', 'complexity']] == 0).any(axis = 1) & ~df_pricing.complexity.isna() & ~(df_pricing.complexity == '0 No descriptor') & (df_pricing.invoice_qty>0)]

### Original survey matrix

In [5]:
pricing_matrix = col_name(pd.read_excel(os.path.join(path,file_survey)))
pricing_matrix = pricing_matrix.replace({'0': np.nan, 0: np.nan})

In [6]:
col_scale = [x+'_scaled' for x in list(pricing_matrix.columns)[2:]]
col = list(pricing_matrix.columns) + col_scale

In [7]:
min_max_scaler = preprocessing.MinMaxScaler()
df_scale = pd.DataFrame(columns=col)
for u in pricing_matrix.eau.unique():
    df_eau = (pricing_matrix[pricing_matrix.eau == u]).reset_index(drop=True)
    x = df_eau.iloc[:,2:].values
    x_scaled = min_max_scaler.fit_transform(x)
    df_temp_1 = pd.DataFrame(x_scaled, columns=col_scale).reset_index(drop=True)
    df_temp_concat = pd.concat([df_eau,df_temp_1], ignore_index=True, axis=1)
    df_temp_concat.columns = col
    df_scale = pd.concat([df_scale, df_temp_concat], axis=0)

In [8]:
df_scale[col_scale] = df_scale[col_scale].fillna(1)

### groupby EAU for scaler

# pd.DataFrame(np.array(pricing_matrix.groupby('eau')['low'].apply(lambda x: preprocessing.MinMaxScaler().fit_transform(x.values.reshape(-1,1))))[0])
np.array(pricing_matrix.groupby('eau')['low'].apply(lambda x: preprocessing.MinMaxScaler().fit_transform(x.values.reshape(-1,1))))

In [9]:
complexity_level = {'high': ['high1_scaled', 'high2_scaled', 'high3_scaled', 'high4_scaled', 'high5_scaled', 'high_scaled'], 
                    'low': ['low1_scaled', 'low2_scaled', 'low3_scaled', 'low4_scaled', 'low5_scaled', 'low6_scaled', 'low_scaled'],
                    'med': ['med10_scaled', 'med1_scaled', 'med2_scaled', 'med3_scaled', 'med4_scaled', 'med5_scaled', 'med6_scaled', 'med7_scaled', 'med8_scaled', 'med9_scaled', 'med_scaled']}

In [10]:
df_scale

,supplier,eau,low,med,med1,med2,med3,med4,low1,low2,med5,med6,high,high1,high2,high3,med7,med8,low3,low4,high4,high5,med9,med10,low5,low6,low_scaled,med_scaled,med1_scaled,med2_scaled,med3_scaled,med4_scaled,low1_scaled,low2_scaled,med5_scaled,med6_scaled,high_scaled,high1_scaled,high2_scaled,high3_scaled,med7_scaled,med8_scaled,low3_scaled,low4_scaled,high4_scaled,high5_scaled,med9_scaled,med10_scaled,low5_scaled,low6_scaled
0,CVG,1,103.214105,248.982700,144.084700,426.629500,904.749100,240.709800,53.320000,44.029700,241.190000,231.085500,486.878600,634.290000,2348.090000,1594.319800,733.100000,355.479800,163.870130,60.564110,1061.538200,586.600000,99.835600,53.309300,65.460400,20.348200,0.129403,0.030610,0.071076,0.120174,0.109128,0.078925,0.038979,0.048006,0.114341,0.066630,0.088251,0.079307,0.270460,0.111282,0.046303,0.057422,0.085068,0.036203,0.027571,0.036198,0.007075,0.001912,0.000000,0.018222
1,ICA,1,92.433519,242.571989,62.766199,344.145584,616.139045,149.131019,42.859080,37.466633,118.171918,177.122042,300.719250,395.904943,1173.657405,1023.909023,537.500334,272.457737,135.663307,58.224159,1034.606316,640.766072,128.223468,81.081545,115.979536,28.564345,0.106486,0.024925,0.000000,0.072283,0.022344,0.000000,0.008505,0.032807,0.015737,0.031088,0.016721,0.013716,0.070043,0.018801,0.000000,0.019816,0.057673,0.030772,0.022405,0.047874,0.030574,0.038503,0.060535,0.047417
2,Julian,1,80.905360,214.463264,78.698537,420.672553,541.832685,212.488497,60.838274,31.499098,98.538938,219.605698,369.452909,346.057406,NaN,NaN,703.129572,347.545709,131.341119,60.384008,NaN,NaN,265.053149,61.722135,130.215281,29.230972,0.081980,0.000000,0.013926,0.116716,0.000000,0.054603,0.060881,0.018988,0.000000,0.059069,0.043131,0.000000,1.000000,1.000000,0.039208,0.053828,0.053476,0.035785,1.000000,1.000000,0.143839,0.012996,0.077594,0.049785
3,LMI,1,503.867431,1342.193194,1206.874681,1941.976201,3867.424826,1309.451515,383.211389,455.113389,1346.127083,1648.245828,2859.713681,3401.949411,6623.148549,7075.819125,4761.849083,2436.393183,1105.930871,475.814931,6131.400531,5057.601431,1299.333278,810.846556,707.786736,296.648042,0.981088,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.840829,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.769679,1.000000
4,MCL,1,199.097167,412.203983,195.549241,755.707442,1577.741929,329.072600,NaN,NaN,NaN,NaN,NaN,NaN,1794.177393,2217.330188,992.026047,557.787140,361.991472,103.447326,2724.078961,NaN,353.159392,209.962586,NaN,74.922349,0.333225,0.175344,0.116058,0.311240,0.311496,0.155079,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.175935,0.212291,0.107597,0.149060,0.277484,0.135735,0.346456,1.000000,0.216772,0.208309,1.000000,0.212141
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14,Wise Harness,5,112.983040,449.272058,162.657080,538.666184,1108.753143,287.725810,111.417520,58.586212,281.271617,314.250201,596.945659,666.435656,2199.474475,2215.991271,918.179798,410.786709,208.294022,72.926555,2359.489750,1212.231800,253.074080,137.632280,92.479850,42.126980,0.213344,0.341381,0.134367,0.241803,0.280596,0.191605,0.312133,0.121855,0.213623,0.186862,0.204082,0.180104,0.306926,0.302975,0.171291,0.139472,0.173480,0.129603,0.385319,0.225554,0.186102,0.168145,0.058428,0.137249
15,Dekko,5,81.720868,200.768552,NaN,276.028069,539.170939,167.474590,39.640360,22.970933,114.125885,144.440337,218.228071,371.715972,NaN,NaN,467.323493,210.324851,176.379680,40.830996,874.043690,457.884400,109.611080,70.702665,140.772300,22.841100,0.132030,0.091941,1.000000,0.054600,0.081088,0.069569,0.063705,0.023672,0.057770,0.048142,0.032525,0.065478,1.000000,1.000000,0.048254,0.030111,0.135764,0.040658,0.051306,0.026631,0.042133,0.061575,0.146816,0.053688
16,Kato,5,78.953760,195.950070,64.050000,289.950000,528.950000,175.950000,40.950000,30.950000,129.950000,149.950000,249.950000,431.950083,1369.950000,999.950000,599.950000,285.950000,152.950000,46.947340,916.950000,573.950000,119.950000,69.950000,181.950000,21.350000,0.124833,0.087104,0.030657,0.064524,0.077508,0.078170,0.068238,0.045668,0.072525,0.052643,0.046895,0.088905,0.132557,0.073664,0.084447,0.071368,0.108075,0.057608,0.060954,0.057238,0.052509,0.060376,0.222182,0.047227
17,ECI,5,81.516100,156.370300,66.152400,241.922400,494.124800,163.099900,34.299600,21.250300,75.749600,112.880500,172.473900,266.107700,1129.470100,887.878500,557.087000,219.569400,175.076200,41.308300,974.706700,516.508600,94.070000,63.656000,105.778800,19.867900,0.131498,0.047375,0.032868,0.030291,0.065310,0.065129,0.045221,0.018928,0.021987,0.022360,0.011798,0.024404,0.082007,0.052530,0.072750,0.035154,0.134223,0.041981,0.073941,0.042090,0.026537,0.050354,0.082769,0.040806
18,Wise Harness - Mexico,5,82.990000,334.650000,92.780000,446.840000,815.700000,208.210000,63.770000,40.610000,176.270000,211.280000,420.390000,470.010000,1575.150000,1341.760000,677.640000,320.390000,151.830000,54.800000,1422.650000,760.780000,162.320000,80.260000,69.870000,24.790000,0.135331,0.226327,0.060874,0.176351,0.177948,0.110909,0.147220,0.072299,0.115715,0.102744,0.124103,0.103708,0.175691,0.138120,0.105648,0.090156,0.106751,0.079370,0.174664,0.106505,0.095028,0.076793,0.017046,0.062132

In [11]:
for v in complexity_level.values(): 
    df_scale = pd.concat([df_scale, df_scale[v].mean(axis=1, skipna=True)], axis=1)

In [12]:
new_median = ['high_median', 'low_median', 'med_median']
new_cols = list(df_scale.columns)[:-3] + new_median
df_scale.columns = new_cols

pricing_mat_result = pd.concat([pricing_matrix, df_scale], axis=1)

In [13]:
df_scale[['high_price_rank', 'low_price_rank', 'med_price_rank']] = df_scale.groupby(['eau'])[['high_median', 'low_median', 'med_median']].rank(method = 'dense')

In [14]:
df_scale.to_csv(os.path.join(result_path, result_file), index=False)

### Current_State_Analysis

In [15]:
df = pd.read_excel(os.path.join(path,file_survey),sheet_name = 'current', header=None)

In [16]:
current_state = df.transpose().reset_index(drop=True)
current_state.columns = current_state.iloc[0]
current_state.drop(index = 0, inplace=True)
current_state = col_name(current_state.reset_index(drop=True))
current_state['current_price'] = current_state.current_price.astype('float')

In [17]:
df_eau = col_name(pd.read_excel(os.path.join(path,file_survey),sheet_name = 'EAU'))
df_eau.segment.replace('FIRE AND EMERGENCY', 'F&E', inplace = True)
df_eau.drop_duplicates(subset='segment', inplace=True)
df_eau.set_index('segment', inplace=True)

In [18]:
def allocate_eau(df_eau, x):
    if x[0] < df_eau.loc[x[1], 'eau2']:
        return 1
    elif x[0] < df_eau.loc[x[1], 'eau3']:
        return 2
    elif x[0] < df_eau.loc[x[1], 'eau4']:
        return 3
    elif x[0] < df_eau.loc[x[1], 'eau4']:
        return 4
    else:
        return 5

In [19]:
current_state['eau_group'] = current_state[['current_eau','segment']].apply(lambda x: allocate_eau(df_eau, x),axis=1)

In [20]:
df_scale

,supplier,eau,low,med,med1,med2,med3,med4,low1,low2,med5,med6,high,high1,high2,high3,med7,med8,low3,low4,high4,high5,med9,med10,low5,low6,low_scaled,med_scaled,med1_scaled,med2_scaled,med3_scaled,med4_scaled,low1_scaled,low2_scaled,med5_scaled,med6_scaled,high_scaled,high1_scaled,high2_scaled,high3_scaled,med7_scaled,med8_scaled,low3_scaled,low4_scaled,high4_scaled,high5_scaled,med9_scaled,med10_scaled,low5_scaled,low6_scaled,high_median,low_median,med_median,high_price_rank,low_price_rank,med_price_rank
0,CVG,1,103.214105,248.982700,144.084700,426.629500,904.749100,240.709800,53.320000,44.029700,241.190000,231.085500,486.878600,634.290000,2348.090000,1594.319800,733.100000,355.479800,163.870130,60.564110,1061.538200,586.600000,99.835600,53.309300,65.460400,20.348200,0.129403,0.030610,0.071076,0.120174,0.109128,0.078925,0.038979,0.048006,0.114341,0.066630,0.088251,0.079307,0.270460,0.111282,0.046303,0.057422,0.085068,0.036203,0.027571,0.036198,0.007075,0.001912,0.000000,0.018222,0.102178,0.050840,0.063963,6.0,2.0,4.0
1,ICA,1,92.433519,242.571989,62.766199,344.145584,616.139045,149.131019,42.859080,37.466633,118.171918,177.122042,300.719250,395.904943,1173.657405,1023.909023,537.500334,272.457737,135.663307,58.224159,1034.606316,640.766072,128.223468,81.081545,115.979536,28.564345,0.106486,0.024925,0.000000,0.072283,0.022344,0.000000,0.008505,0.032807,0.015737,0.031088,0.016721,0.013716,0.070043,0.018801,0.000000,0.019816,0.057673,0.030772,0.022405,0.047874,0.030574,0.038503,0.060535,0.047417,0.031593,0.049171,0.023206,1.0,1.0,1.0
2,Julian,1,80.905360,214.463264,78.698537,420.672553,541.832685,212.488497,60.838274,31.499098,98.538938,219.605698,369.452909,346.057406,NaN,NaN,703.129572,347.545709,131.341119,60.384008,NaN,NaN,265.053149,61.722135,130.215281,29.230972,0.081980,0.000000,0.013926,0.116716,0.000000,0.054603,0.060881,0.018988,0.000000,0.059069,0.043131,0.000000,1.000000,1.000000,0.039208,0.053828,0.053476,0.035785,1.000000,1.000000,0.143839,0.012996,0.077594,0.049785,0.673855,0.054070,0.044926,15.0,4.0,3.0
3,LMI,1,503.867431,1342.193194,1206.874681,1941.976201,3867.424826,1309.451515,383.211389,455.113389,1346.127083,1648.245828,2859.713681,3401.949411,6623.148549,7075.819125,4761.849083,2436.393183,1105.930871,475.814931,6131.400531,5057.601431,1299.333278,810.846556,707.786736,296.648042,0.981088,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.840829,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.769679,1.000000,0.973471,0.964395,1.000000,18.0,19.0,19.0
4,MCL,1,199.097167,412.203983,195.549241,755.707442,1577.741929,329.072600,NaN,NaN,NaN,NaN,NaN,NaN,1794.177393,2217.330188,992.026047,557.787140,361.991472,103.447326,2724.078961,NaN,353.159392,209.962586,NaN,74.922349,0.333225,0.175344,0.116058,0.311240,0.311496,0.155079,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.175935,0.212291,0.107597,0.149060,0.277484,0.135735,0.346456,1.000000,0.216772,0.208309,1.000000,0.212141,0.622447,0.565512,0.340996,14.0,17.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14,Wise Harness,5,112.983040,449.272058,162.657080,538.666184,1108.753143,287.725810,111.417520,58.586212,281.271617,314.250201,596.945659,666.435656,2199.474475,2215.991271,918.179798,410.786709,208.294022,72.926555,2359.489750,1212.231800,253.074080,137.632280,92.479850,42.126980,0.213344,0.341381,0.134367,0.241803,0.280596,0.191605,0.312133,0.121855,0.213623,0.186862,0.204082,0.180104,0.306926,0.302975,0.171291,0.139472,0.173480,0.129603,0.385319,0.225554,0.186102,0.168145,0.058428,0.137249,0.267493,0.163727,0.205022,12.0,15.0,14.0
15,Dekko,5,81.720868,200.768552,NaN,276.028069,539.170939,167.474590,39.640360,22.970933,114.125885,144.440337,218.228071,371.715972,NaN,NaN,467.323493,210.324851,176.379680,40.830996,874.043690,457.884400,109.611080,70.702665,140.772300,22.841100,0.132030,0.091941,1.000000,0.054600,0.081088,0.069569,0.063705,0.023672,0.057770,0.048142,0.032525,0.065478,1.000000,1.000000,0.048254,0.030111,0.135764,0.040658,0.051306,0.026631,0.042133,0.061575,0.146816,0.053688,0.362657,0.085190,0.144107,13.0,9.0,13.0
16,Kato,5,78.953760,195.950070,64.050000,289.950000,528.950000,175.950000,40.950000,30.950000,129.950000,149.950000,249.950000,431.950083,1369.950000,999.950000,599.950000,285.950000,152.950000,46.947340,916.950000,573.950000,119.950000,69.950000,181.950000,21.350000,0.124833,0.087104,0.030657,0.064524,0.077508,0.078170,0.068238,0.045668,0.072525,0.052643,0.046895,0.088905,0.132557,0.073664,0.084447,0.071368,0.108075,0.057608,0.060954,0.057238,0.052509,0.060376,0.222182,0.047227,0.076702,0.096262,0.066530,9.0,11.0,9.0
17,ECI,5,81.516100,156.370300,66.152400,241.922400,494.124800,163.099900,34.299600,21.250300,75.749600,112.880500,172.473900,266.107700,1129.470100,887.878500,557.087000,219.569400,175.076200,41.308300,974.706700,516.508600,94.070000,63.656000,105.778800,19.867900,0.131498,0.047375,0.032868,0.030291,0.065310,0.065129,0.045221,0.018928,0.021987,0.022360,0.011798,0.024404,0.082007,0.052530,0.072750,0.035154,0.134223,0.041981,0.073941,0.042090,0.026537,0.050354,0.082769,0.040806,0.047795,0.070775,0.042738,7.0,7.0,7.0
18,Wise Harness - Mexico,5,82.990000,334.650000,92.780000,446.840000,815.700000,208.210000,63.770000,40.610000,176.270000,211.280000,420.390000,470.010000,1575.150000,1341.760000,677.640000,320.390000,151.830000,54.800000,1422.650000,760.780000,162.320000,80.260000,69.870000,24.790000,0.135331,0.226327,0.060874,0.176351,0.177948,0.110909,0.147220,0.072299,0.115715,0.102744,0.124103,0.103708,0.175691,0.138120,0.105648,0.090156,0.106751,0.079370,0.174664,0.106505,0.095028,0.076793,0.017046,0.062132,0.137132,0.088593,0.121681,10.0,10.0,11.0

In [21]:
current_state['complexity_level'] = df_scale.columns[2: 26]

In [22]:
current_state

,part#,current_supplier,current_price,current_eau,ext_spend,segment,supplier,eau_group,complexity_level
0,1596988,Unlimited,58.460,500,29230,COMMERCIAL,Low,5,low
1,1568934,KATO,205.950,100,20595,COMMERCIAL,Med,2,med
2,77441612,Unlimited,37.630,1670,62842.1,COMMERCIAL,Med,5,med1
3,1614820,ECI,346.460,100,34646,COMMERCIAL,Med,2,med2
4,1564491,Unlimited,371.120,480,178138,COMMERCIAL,Med,3,med3
5,77441537,Unlimited,106.780,817,87239.3,COMMERCIAL,Med,5,med4
6,1001194114,ECI,28.180,5,140.9,ACCESS,Low,1,low1
7,1001169151,ECI,33.240,1765,58668.6,ACCESS,Low,5,low2
8,1001238407,ECI,62.350,1716,106993,ACCESS,Med,5,med5
9,1001168952,ECI,90.480,1388,125586,ACCESS,Med,3,med6
10,1001163370,ECI,127.770,90,11499.3,ACCESS,High,1,high
11,1001238405,ECI,304.780,1816,553480,ACCESS,High,5,high1
12,64-3600-H003,ICA,2641.140,28,73951.9,F&E,High,2,high2
13,64-4851-H015,ECI,716.850,318,227958,F&E,High,5,high3
14,64-4003-H005,Unlimited,279.120,48,13397.8,F&E,Med,2,med7
15,64-5268-H006,Unlimited,241.790,268,64799.7,F&E,Med,3,med8
16,64-2170-H002,Unlimited,110.160,511,56291.8,F&E,Low,5,low3
17,64-3406-H004,KATO CABLE,57.950,712,41260.4,F&E,Low,5,low4
18,A000P725,ICA,710.000,500,355000,DEFENSE,High,3,high4
19,A000P906,St Clair,417.260,500,208630,DEFENSE,High,3,high5
20,A000N089,Unlimited,85.950,500,42975,DEFENSE,Med,3,med9
21,A000P162,Unlimited,48.430,500,24215,DEFENSE,Med,3,med10
22,A000D731,St Clair,75.952,273,20734.9,DEFENSE,Low,2,low5
23,A000D729,UNLIMITED SERVICES,126.510,4,506.04,DEFENSE,Low,1,low6

In [23]:
conditions = [
    (current_state.supplier == 'Low'),
    (current_state.supplier == 'Med'),
    (current_state.supplier == 'High')
]

values = ['low_price_rank', 'med_price_rank', 'high_price_rank']

current_state['complexity_rank'] = np.select(conditions, values)

In [24]:
# test = df_scale[df_scale.eau == current_state.eau_group[0]][['supplier' ,current_state.complexity_level[0], current_state.complexity_rank[0]]].sort_values(by = current_state.complexity_rank[0])
# test = df_scale[df_scale.eau == current_state.eau_group[0]][[current_state.complexity_level[0], current_state.complexity_rank[0]]].sort_values(by = current_state.complexity_rank[0])

In [25]:
rank_price_col = ['rank_price_'+str(x) for x in range(1,20)]

In [26]:
def rank_price(df_scale, x):
    df = df_scale[df_scale.eau == x[0]]
    df = df[[x[1], x[2]]].sort_values(by = x[2])
    res = list(df.iloc[:,0])
    return res

In [27]:
prices = current_state[['eau_group','complexity_level', 'complexity_rank']].apply(lambda x: rank_price(df_scale, x), axis=1)

In [28]:
df_pricing_rank = pd.DataFrame(columns = rank_price_col)

In [29]:
for i in range(len(prices)):
    item = pd.DataFrame([prices[i]], columns= rank_price_col)
    df_pricing_rank = pd.concat([df_pricing_rank, item]).reset_index(drop = True)

In [30]:
current_state[rank_price_col] = df_pricing_rank

In [31]:
current_state

,part#,current_supplier,current_price,current_eau,ext_spend,segment,supplier,eau_group,complexity_level,complexity_rank,rank_price_1,rank_price_2,rank_price_3,rank_price_4,rank_price_5,rank_price_6,rank_price_7,rank_price_8,rank_price_9,rank_price_10,rank_price_11,rank_price_12,rank_price_13,rank_price_14,rank_price_15,rank_price_16,rank_price_17,rank_price_18,rank_price_19
0,1596988,Unlimited,58.460,500,29230,COMMERCIAL,Low,5,low,low_price_rank,43.684500,47.198313,57.181277,72.342428,45.927294,55.990476,81.516100,81.231212,81.720868,82.990000,78.953760,97.051160,30.960000,111.640000,112.983040,76.927043,139.290069,90.536463,415.423542
1,1568934,KATO,205.950,100,20595,COMMERCIAL,Med,2,med,med_price_rank,147.261608,134.699600,211.090538,160.514811,175.321500,198.559512,379.112746,259.110000,246.022796,235.950070,334.790000,237.780552,264.139504,450.322058,346.669357,311.239662,337.646017,NaN,1342.193194
2,77441612,Unlimited,37.630,1670,62842.1,COMMERCIAL,Med,5,med1,med_price_rank,44.255032,38.335553,45.594700,40.557716,34.901792,39.362221,66.152400,61.120000,64.050000,45.437121,92.780000,NaN,NaN,162.657080,128.962358,77.538300,63.846872,NaN,985.694125
3,1614820,ECI,346.460,100,34646,COMMERCIAL,Med,2,med2,med_price_rank,230.886477,252.558100,307.768601,300.991106,277.311400,325.170760,277.473437,393.560000,305.027413,315.950000,447.060000,327.418069,356.218558,539.176184,615.253247,417.359300,NaN,212.200000,1940.601201
4,1564491,Unlimited,371.120,480,178138,COMMERCIAL,Med,3,med3,med_price_rank,315.555786,342.040042,431.929000,387.963287,437.872738,659.311386,540.532500,490.550000,589.950000,662.959327,815.780000,551.318535,580.984939,1109.223618,1232.357621,643.875500,NaN,NaN,3327.403090
5,77441537,Unlimited,106.780,817,87239.3,COMMERCIAL,Med,5,med4,med_price_rank,98.922830,108.064569,114.486800,130.459829,130.024126,159.333176,163.099900,134.910000,175.950000,144.059730,208.210000,113.355866,167.474590,287.725810,230.583892,165.140400,261.995583,NaN,1084.299570
6,1001194114,ECI,28.180,5,140.9,ACCESS,Low,1,low1,low_price_rank,42.859080,53.320000,67.190000,60.838274,39.939431,41.160000,119.503895,86.960114,NaN,73.479866,149.984689,45.856975,85.755900,99.950000,152.748070,150.000360,NaN,NaN,383.211389
7,1001169151,ECI,33.240,1765,58668.6,ACCESS,Low,5,low2,low_price_rank,14.851800,14.384306,19.356570,20.280912,18.442440,20.542475,21.250300,14.951581,22.970933,40.610000,30.950000,24.103226,15.410000,29.320000,58.586212,29.497408,NaN,NaN,377.124917
8,1001238407,ECI,62.350,1716,106993,ACCESS,Med,5,med5,med_price_rank,63.103191,74.928880,108.402700,52.169955,65.505470,60.077414,75.749600,85.590000,129.950000,91.630414,176.270000,77.918228,114.125885,281.271617,NaN,NaN,NaN,NaN,1124.628992
9,1001168952,ECI,90.480,1388,125586,ACCESS,Med,3,med6,med_price_rank,102.624180,132.739970,116.565500,104.381708,134.057951,90.505441,123.362100,140.930000,179.950000,195.630909,211.320000,130.965836,167.282337,314.379981,NaN,NaN,NaN,107.820000,1374.741870
10,1001163370,ECI,127.770,90,11499.3,ACCESS,High,1,high,high_price_rank,300.719250,452.480000,343.219533,426.970000,463.625168,486.878600,423.306381,598.563509,550.950000,633.759919,431.221500,889.997071,2006.166160,NaN,369.452909,257.203160,NaN,2859.713681,NaN
11,1001238405,ECI,304.780,1816,553480,ACCESS,High,5,high1,high_price_rank,233.335841,292.651199,311.254020,269.350712,280.873100,398.078081,266.107700,375.950000,431.950083,470.010000,538.939734,666.435656,371.715972,NaN,203.361721,NaN,NaN,NaN,2774.510064
12,64-3600-H003,ICA,2641.140,28,73951.9,F&E,High,2,high2,high_price_rank,1051.024142,1006.103698,1206.824200,754.670000,1093.230357,1797.246500,1158.109041,1425.327717,1577.030000,1950.950000,2694.742036,2211.392605,NaN,1523.092943,NaN,NaN,1541.280650,NaN,6620.211049
13,64-4851-H015,ECI,716.850,318,227958,F&E,High,5,high3,high_price_rank,609.309097,808.748985,899.935180,1031.065374,876.049900,833.556770,887.878500,1238.410000,999.950000,1341.760000,706.137258,2215.991271,NaN,1529.746415,NaN,NaN,NaN,NaN,5912.322542
14,64-4003-H005,Unlimited,279.120,48,13397.8,F&E,Med,2,med7,med_price_rank,449.039750,540.681900,447.612285,532.054175,598.225900,686.294497,637.467825,579.010000,857.601349,989.950000,678.900000,638.598493,911.563574,921.218813,845.049508,628.538380,NaN,NaN,4735.838083
15,64-5268-H006,Unlimited,241.790,268,64799.7,F&E,Med,3,med8,med_price_rank,241.786534,161.891265,194.164600,208.435140,252.120226,233.030733,241.817100,250.610000,365.950000,215.570534,320.630000,240.645180,237.177851,411.770874,408.201494,342.072060,NaN,184.410000,2089.011364
16,64-2170-H002,Unlimited,110.160,511,56291.8,F&E,Low,5,low3,low_price_rank,72.530000,81.497192,95.914023,92.497311,90.930015,111.397280,175.076200,95.334096,176.379680,151.830000,152.950000,121.772350,61.500000,105.120000,208.294022,126.503521,257.939520,147.015930,907.673093
17,64-3406-H004,KATO CABLE,57.950,712,41260.4,F&E,Low,5,low4,low_price_rank,29.803800,26.435393,34.535315,43.865480,81.465630,35.982100,41.308300,32.615020,40.830996,54.800000,46.947340,35.457555,26.159672,44.930000,72.926555,NaN,72.824467,80.684910,387.007000
18,A000P725,ICA,710.000,500,355000,DEFENSE,High,3,high4,high_price_rank,709.997449,790.402163,915.160475,867.200000,848.218600,917.795865,1100.306570,1151.079600,1067.950000,1422.770000,1665.638225,2359.739750,1013.588690,2124.796012,NaN,NaN,NaN,NaN,5337.039823
19,A000P906,St Clair,417.260,500,208630,DEFENSE,High,3,high5,high_price_rank,382.468178,418.101760,505.170032,407.640000,459.685000,418.682539,410.022970,608.344200,640.950000,760.860000,996.415217,1212.451800,530.796400,NaN,NaN,NaN,NaN,NaN,4361.144528
20,A000N089,Unlimited,85.950,500,42975,DEFENSE,Med,3,med9,med_price_rank,86.809708,182.328275,77.220000,97.314743,110.404790,76.117083,115.168400,120.360000,138.950000,162.664881,162.420000,91.288920,127.056080,253.274080,266.156106,NaN,NaN,NaN,1119.085681
21,A000P162,Unlimited,48.430,500,24215,DEFENSE,Med,3,med10,med_price_rank,49.789190,32.031855,39.977900,57.046208,55.060034,51.275109,74.376300,57.680000,79.950000,144.188398,80.350000,51.858485,81.882665,137.822280,164.394699,NaN,69.062621,NaN,695.505236
22,A000D731,St Clair,75.952,273,20734.9,DEFENSE,Low,2,low5,low_price_rank,64.192100,108.240599,108.394684,112.773300,69.910000,237.354952,229.506344,133.537760,173.378800,75.881094,92.819850,215.950000,415.268409,430.410000,137.120905,262.004317,NaN,NaN,707.786736
23,A000D729,UNLIMITED SERVICES,126.510,4,506.04,DEFENSE,Low,1,low6,low_price_rank,28.564345,20.348200,25.420000,29.230972,29.121424,28.840000,43.786980,17.518993,15.220000,35.905539,33.328401,22.963521,62.442200,29.990000,84.103708,79.999000,74.922349,NaN,296.648042

In [32]:
def weighted_avg(x, w):
    if w == w5:
        return np.average([x[1], x[2], x[3], x[4], x[5]], weights = w)
    elif w == w3:
        return np.average([x[1], x[2], x[3]], weights = w)

In [33]:
w5 = [0.4, 0.3, 0.1, 0.1, 0.1]
w3 = [0.6, 0.3, 0.1]
current_state['rank3_avg_price'] = current_state[['current_supplier','rank_price_1', 'rank_price_2', 'rank_price_3']].apply(lambda x: weighted_avg(x, w3), axis=1)
current_state['rank5_avg_price'] = current_state[['current_supplier','rank_price_1', 'rank_price_2', 'rank_price_3','rank_price_4', 'rank_price_5']].apply(lambda x: weighted_avg(x, w5), axis=1)
current_state['rank1_lowest_price'] = current_state[['rank_price_1', 'rank_price_2', 'rank_price_3','rank_price_4', 'rank_price_5']].apply(lambda x: min(x[0],x[1],x[2],x[3],x[4]), axis=1)


current_state['curr_higher_rank5_pct'] = current_state.rank5_avg_price/current_state.current_price
current_state['curr_higher_rank3_pct'] = current_state.rank3_avg_price/current_state.current_price
current_state['curr_higher_lowestP_pct'] = current_state.rank1_lowest_price/current_state.current_price

In [34]:
current_state[['part#','current_price', 'current_supplier','supplier', 'eau_group','rank1_lowest_price', 'curr_higher_lowestP_pct', 
               'rank3_avg_price', 'curr_higher_rank3_pct', 'rank5_avg_price','curr_higher_rank5_pct']].sort_values(by= ['supplier', 'eau_group'])

,part#,current_price,current_supplier,supplier,eau_group,rank1_lowest_price,curr_higher_lowestP_pct,rank3_avg_price,curr_higher_rank3_pct,rank5_avg_price,curr_higher_rank5_pct
10,1001163370,127.770,ECI,High,1,300.719250,2.353598,350.497503,2.743191,379.413170,2.969501
12,64-3600-H003,2641.140,ICA,High,2,754.670000,0.285736,1053.128014,0.398740,1027.713222,0.389117
18,A000P725,710.000,ICA,High,3,709.997449,0.999996,754.635166,1.062866,784.177536,1.104475
19,A000P906,417.260,St Clair,High,3,382.468178,0.916618,405.428438,0.971645,415.667303,0.996183
11,1001238405,304.780,ECI,High,5,233.335841,0.765588,258.922267,0.849538,267.277479,0.876952
13,64-4851-H015,716.850,ECI,High,5,609.309097,0.849981,698.203672,0.973989,767.053380,1.070033
6,1001194114,28.180,ECI,Low,1,39.939431,1.417297,48.430448,1.718611,49.936403,1.772051
23,A000D729,126.510,UNLIMITED SERVICES,Low,1,20.348200,0.160843,25.785067,0.203818,25.907438,0.204786
22,A000D731,75.952,St Clair,Low,2,64.192100,0.845167,81.826908,1.077350,87.256818,1.148842
0,1596988,58.460,Unlimited,Low,5,43.684500,0.747255,46.088322,0.788374,49.178394,0.841232
7,1001169151,33.240,ECI,Low,5,14.384306,0.432741,15.162029,0.456138,16.064004,0.483273
16,64-2170-H002,110.160,Unlimited,Low,5,72.530000,0.658406,77.558560,0.704054,81.395292,0.738882
17,64-3406-H004,57.950,KATO CABLE,Low,5,26.435393,0.456176,29.266429,0.505029,35.838781,0.618443
1,1568934,205.950,KATO,Med,2,134.699600,0.654040,149.875898,0.727730,154.007208,0.747789
3,1614820,346.460,ECI,Med,2,230.886477,0.666416,245.076176,0.707372,256.729132,0.741007
14,64-4003-H005,279.120,Unlimited,Med,2,447.612285,1.603655,476.389649,1.706756,499.609706,1.789946
4,1564491,371.120,Unlimited,Med,3,315.555786,0.850280,335.138384,0.903046,354.610829,0.955515
9,1001168952,90.480,ECI,Med,3,102.624180,1.134219,113.053049,1.249481,116.372179,1.286165
15,64-5268-H006,241.790,Unlimited,Med,3,161.891265,0.669553,213.055760,0.881160,210.753990,0.871641
20,A000N089,85.950,Unlimited,Med,3,77.220000,0.898429,114.506308,1.332243,117.916319,1.371918
21,A000P162,48.430,Unlimited,Med,3,32.031855,0.661405,43.480861,0.897808,44.733647,0.923676
2,77441612,37.630,Unlimited,Med,5,34.901792,0.927499,42.613155,1.132425,41.308099,1.097744
5,77441537,106.780,Unlimited,Med,5,98.922830,0.926417,103.221749,0.966677,109.485578,1.025338
8,1001238407,62.350,ECI,Med,5,52.169955,0.836727,71.180849,1.141634,70.327753,1.127951

In [35]:
current_state_group = current_state.groupby(['supplier','eau_group'])[['curr_higher_lowestP_pct', 'curr_higher_rank3_pct','curr_higher_rank5_pct']].mean().reset_index()

In [36]:
current_state_group

,supplier,eau_group,curr_higher_lowestP_pct,curr_higher_rank3_pct,curr_higher_rank5_pct
0,High,1,2.353598,2.743191,2.969501
1,High,2,0.285736,0.398740,0.389117
2,High,3,0.958307,1.017256,1.050329
3,High,5,0.807785,0.911763,0.973493
4,Low,1,0.789070,0.961215,0.988418
5,Low,2,0.845167,1.077350,1.148842
6,Low,5,0.573644,0.613399,0.670458
7,Med,2,0.974704,1.047286,1.092914
8,Med,3,0.842777,1.052748,1.081783
9,Med,5,0.896881,1.080245,1.083678

### Financial Impact

In [37]:
competitive_matrix_raw = col_name(pd.read_excel(os.path.join(path,file_full)))
complexity_list = ['1 Low 2-20 circuits', '2 Medium 20-100 circuits', '3 High 100+ circuits']
competitive_matrix = competitive_matrix_raw[competitive_matrix_raw.complexity.isin(complexity_list)].drop(columns=['eau1', 'eau2','eau3','eau4','eau5'])

In [38]:
conditions2 = [
    (competitive_matrix.complexity == '1 Low 2-20 circuits'),
    (competitive_matrix.complexity == '2 Medium 20-100 circuits'),
    (competitive_matrix.complexity == '3 High 100+ circuits')
]

values = ['Low', 'Med', 'High']

competitive_matrix['complexity_rank'] = np.select(conditions2, values)

In [40]:
competitive_matrix.head()

,parent_supplier_name,part_number,part_description,invoice_qty,eau_15,avg_unit_cost,total_spend_invoiced,segment,facility_division,gpsc_commodity_classification,subcommodity,complexity,eau,complexity_rank
1225,"L3HARRIS TECHNOLOGIES, INC.",12604466,"WIREHARN,COMPT,GFESIGW189",1985,NaN,1945.11,3861043.35,DEFENSE,DEFENSE PRODUCTION,ELECTRICAL,WIREHARNESS,1 Low 2-20 circuits,4,Low
1226,MIDWEST HARNESS & CABLE (FORMERLY DDI),12602284,"WIREHARN,CAB,CREWAFES",3891,NaN,303.65,1172290.53,DEFENSE,DEFENSE PRODUCTION,ELECTRICAL,WIREHARNESS,1 Low 2-20 circuits,4,Low
1227,ST CLAIR TECHNOLOGIES,12604471,"WIREHARN,CAB,GFEPWRP104",2276,NaN,278.67,634252.36,DEFENSE,DEFENSE PRODUCTION,ELECTRICAL,WIREHARNESS,1 Low 2-20 circuits,4,Low
1228,ST CLAIR TECHNOLOGIES,12603056,"WIREHARN,CAB,GFEPWRP105",2253,NaN,229.02,516742.30,DEFENSE,DEFENSE PRODUCTION,ELECTRICAL,WIREHARNESS,1 Low 2-20 circuits,4,Low
1229,FALMAT INC.,12603049,"WIREHARN,COMPT,GICW131",2175,NaN,222.20,483285.00,DEFENSE,DEFENSE PRODUCTION,ELECTRICAL,WIREHARNESS,1 Low 2-20 circuits,4,Low

In [41]:
competitive_financial_result = pd.merge(competitive_matrix, current_state_group, how = 'left', left_on=['complexity_rank', 'eau'], right_on=['supplier', 'eau_group']).drop(columns = ['complexity_rank', 'supplier', 'eau_group'])

In [42]:
competitive_financial_result.to_csv(os.path.join(result_path, result_financial_impact), index=False)