In [10]:
import pyodbc
import pandas as pd
import os

In [8]:
jde_conn = pyodbc.connect('Driver={iSeries Access ODBC Driver};' 
                      'SYSTEM=PMI1.OSK.CORP.TRUCK;'
                      'Database=PRODDTA;'
                      'Trusted_Connection=no;'
                      'UID=u279014;'
                      'PWD=#1500Chi;')

In [11]:
def col_name(df):
    df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
    return df

In [12]:
def load_data(file_name, files):
    sql_file = [f for f in files if file_name in f]
    with open(sql_file[0],'r') as file:
        sql_query = file.read()
        return '\n\n'+sql_query+'\n\n'

In [19]:
files = [f.lower() for f in os.listdir() if f[-4:] == '.txt']

In [20]:
sql_pmi1 = load_data('pmi1test', files)

In [21]:
df_ppap = col_name(pd.read_sql(sql=sql_pmi1, con=jde_conn))

DatabaseError: Execution failed on sql '

SELECT
                PDDOCO
FROM
                PRODDTA.F4311 F4311,
                PRODDTA.F4101 F4101,
                PRODDTA.F4102 F4102,
                PRODDTA.F0101 F0101,
                PRODDTA.F0116 F0116,
                PRODDTA.F0101 F0101_1


': ('HY000', '[HY000] [IBM][System i Access ODBC Driver][DB2 for i5/OS]PWS9801 - Function rejected by user exit program PTNS0107 in QGPL. (79899) (SQLExecDirectW)')